@model UserViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">User Info</h5>
                <table class="table table-striped">
                    <tr>
                        <td>UserName</td>
                        <td>@Model.UserName</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>@Model.City</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="list-group">
            <a asp-controller="Courses" asp-action="Index" class="list-group-item list-group-item-action">My Courses</a>
        </div>
    </div>
</div>